.blank
    border: none !important

.blank_1 
    width: 80vw !important

.blank_2,
.blank_3
    width: 50vw !important

.blank_4,
.blank_5
    width: 10vw !important

.element
    border: solid 1px var(--Text)
    height: 10vh
    width: 5vw
    
    .num_atom
        position: relative
        top: 10px
        left: 10px
        font-size: .8rem

    .simb_atom
        text-align: center
        margin: 1px
        font-weight: bold
        font-size: 1.3rem

    .name
        text-align: center
        margin: 1px
        font-size: .8rem

    .atom_weight
        text-align: center
        margin: 3px
        font-size: .8rem


.element:nth-child(1)
    margin-left: 5vw
    
.naoMetais 
    background: var(--nao-metais)

.metaisAlcalinos 
    background: var(--metais-alcalinos)

.semimetais 
    background: var(--semimetais)

.outrosMetais 
    background: var(--outros-metais)

.lantanideos 
    background: var(--lantanideos)

.gasesNobres 
    background: var(--gases-nobres)

.metaisAlcalinosTerrosos 
    background: var(--metais-alcalinos-terrosos)

.propriedadesDesconhecidas 
    background: var(--propriedades-desconhecidas)

.metaisDeTransicao 
    background: var(--metais-de-transicao)

.actinidios 
    background: var(--actinidios)

.posTransicao 
    background: var(--pos-transicao)